<!-- Footer -->
<footer class="main-footer" style="background-image:url(images/background/pattern-11.png)">
    <div class="auto-container">
        <!-- Widgets Section -->
        <div class="widgets-section">
            <div class="row clearfix">

                 <!-- Big Column -->
                 <div class="big-column col-lg-6 col-md-12 col-sm-12">
                    <div class="row clearfix">

                        <!-- Footer Column -->
                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget contact-widget">
                                <h4>Get in touch:</h4>
                                <ul class="contact-list">
                                    <li><span class="icon fa fa-map-marker-alt"></span> 12, Parakou Street, Wuse 2, Abuja, Nigeria</li>
                                    <li><span class="icon fa fa-phone"></span> +234 701 3234 481</li>
                                    <li><span class="icon fa fa-envelope"></span> info@oasismgt.net</li>
                                </ul>
                                <!-- <div class="timing">
                                    <strong>Open Hours: </strong>
                                    Mon - Sat: 8 am - 5 pm, <br> Sunday: CLOSED
                                </div> -->
                                
                            </div>
                            
                        </div>
                        
                        <!-- Footer Column -->
                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget newsletter-widget">
                                <h4>Newsletter</h4>
                                <div class="text">Subscribe our newsletter to get our latest update & news</div>
                                
                                <!-- Email Box -->
                                <div class="email-box">
                                    <form method="post" action="https://html.themexriver.com/it-firm/contact.html">
                                        <div class="form-group">
                                            <input type="email" name="search-field" value="" placeholder="Your mail address" required>
                                            <button type="submit"><span class="icon fa-solid fa-paper-plane fa-fw"></span></button>
                                        </div>
                                    </form>
                                </div>

                                <!-- Social Box -->
                                <ul class="social-box">
                                    <li><a href="https://twitter.com/OasisManagemen1" class="fa-brands fa-twitter fa-fw"></a></li>
                                    <li><a href="https://www.facebook.com/oasismgtcompany" class="fa-brands fa-facebook-f fa-fw"></a></li>
                                    <li><a href="https://www.linkedin.com/" class="fa-brands fa-linkedin-in fa-fw"></a></li>
                                    <li><a href="https://www.instagram.com/" class="fa-brands fa-instagram fa-fw"></a></li>
                                </ul>
                                <!-- End Social Box -->
                                
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
                
                <!-- Big Column -->
                <div class="big-column col-lg-6 col-md-12 col-sm-12">
                    <div class="row clearfix">
                        
                        <!-- Footer Column -->
                        <div class="footer-column col-lg-12 col-md-12 col-sm-12">
                            <div class="footer-widget logo-widget">
                                <div class="logo">
                                    <a href="/"><img src="/images/oasislogo.png" alt="" /></a>
                                </div>
                                <div class="text">
                                    Oasis Management Company (RC 63590) is the premier Management Consulting and Technology Services Company, 
                                    focused on the continued convergence between Computing, Communications, Content and Commerce (4Cs).
                                </div>
                                <!-- <a href="/about" class="theme-btn about-btn">About us</a> -->
                            </div>
                        </div>

                        
                        
                    </div>
                </div>
                
               
                
            </div>
        </div>
        
        <div class="footer-bottom">
            <div class="row">
                <div class="col-md-6">
                    <div class="copyright">2023 &copy; All rights reserved <a href="#">Oasis Management Company</a></div>
                </div>
                <div class="col-md-6">
                    <ul class="footer-nav">
                        <li><a href="#">Sitemap</a>
                        </li>
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Legal Notices</a>
                        </li>
                        <li><a href="#">Repository</a>
                        </li>
                        <li><a href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
</footer>
<!-- Footer -->

<!-- Search Popup -->
<div class="search-popup">
    <div class="color-layer"></div>
    <button class="close-search"><span class="fa-solid fa-power-off fa-fw"></span></button>
    <form method="get" action="/contact">
        <div class="form-group">
            <input type="search" name="search-field" value="" placeholder="Search Here" required="">
            <button class="fa-solid fa-paper-plane fa-fw" type="submit"></button>
        </div>
    </form>
</div>
<!-- End Search Popup -->
    
</div>
<!-- End PageWrapper -->

<!-- Scroll To Top -->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-double-up"></span></div>

<script src="js/jquery.js"></script>
<script src="js/appear.js"></script>
<script src="js/owl.js"></script>
<script src="js/wow.js"></script>
<script src="js/odometer.js"></script>
<script src="js/mixitup.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/parallax-scroll.js"></script>
<script src="js/parallax.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/tilt.jquery.min.js"></script>
<script src="js/magnific-popup.min.js"></script>

<script src="js/script.js"></script>

<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->

</body>

</html>