	<!-- About One -->
	<section class="about-one">
		<div class="auto-container">
			<div class="row clearfix">
				<!-- Content Column -->
				<div class="about-one_content col-lg-6 col-md-12 col-sm-12">
					<div class="about-one_content-inner">
						<div class="sec-title">
							<div class="sec-title_title">About Oasis</div>
							<h2 class="sec-title_heading"><span>The Best</span> IT <br> Service Company you can always trust!</h2>
							<div class="sec-title_text">
                                <p>Our IT services converge business and technology experts to help to manage business processes of all categories.</p>
                            </div>
						</div>
						
						<!-- About Info Tabs -->
						<div class="about-info-tabs">
							<!-- About Tabs -->
							<div class="about-tabs tabs-box">
							
								<!-- Tab Btns -->
								<ul class="tab-btns tab-buttons clearfix">
									<li data-tab="#prod-vision" class="tab-btn active-btn">Our Vision</li>
									<li data-tab="#prod-mission" class="tab-btn">Our Mission</li>
									<li data-tab="#prod-value" class="tab-btn">Our Value</li>
								</ul>
								
								<!-- Tabs Container -->
								<div class="tabs-content">
									
                                    <!-- Tab -->
                                    <div class="tab active-tab" id="prod-vision">
                                        <div class="content">
                                            <div class="text">
                                                To be the most trusted Business and Technology Service Delivery Company in our market.
                                            </div>
                                        </div>
                                    </div>

									<!-- Tab -->
									<div class="tab" id="prod-mission">
										<div class="content">
											<div class="text">
                                                To achieve our vision through trusted management consulting advice, 
                                                and through delivery of simple but transformational technology services, 
                                                and by so doing increase productivity and financial performace of our clients.
                                            </div>
										</div>
									</div>
									
									
									<!-- Tab -->
									<div class="tab" id="prod-value">
										<div class="content">
											<div class="text">
                                                At Oasis, we are guided by the following values:
                                                <ul>
                                                    <li>Integrity</li>
                                                    <li>Excellence</li>
                                                    <li>Teamwork</li>
                                                    <li>Customer Focus</li>
                                                    <li>Respect</li>
                                                    <li>Accountability</li>
                                                </ul>
                                            </div>
										</div>
									</div>
									
								</div>
							</div>
						</div>
						
						<!-- About One Detail -->
						<a class="about-one_detail lightbox-video" href="https://www.youtube.com/watch?v=kxPCFljwJws">
							Watch Video to Know More
							<span class="play-icon"><span class="fa-solid fa-play fa-fw"></span><i class="ripple"></i></span>
						</a>
						
					</div>
				</div>
				<!-- Image Column -->
				<div class="about-one_image-column col-lg-6 col-md-12 col-sm-12">
					<div class="about-one-image-inner">
						<div class="about-one_color-layer"></div>
						<!-- <div class="about-cicle_layer">
							<img src="images/icons/circle-layer.png" alt="" />
						</div> -->
						<div class="about-one_image">
							<img src="images/team.jpg" alt="" />
						</div>
						<div class="about-one_bold-text">Oasis</div>
						<div class="about-one_image-text">
                            We are a certified IT company known for excellence!
                        </div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End About One -->