<!-- Counter One -->
<section class="counter-one">
    <div class="auto-container">
        <div class="counter-one_inner-container" style="background-image:url(images/background/1.jpg)">
            <div class="row clearfix">
                
                <!-- Counter Column -->
                <div class="counter-one_block col-lg-3 col-md-6 col-sm-6">
                    <div class="counter-one_inner">
                        <span class="counter-one_icon fa-solid fa-user-plus fa-fw"></span>
                        <div class="counter-one_counter"><span class="odometer" data-count="105"></span>+</div>
                        <div class="counter-one_text">Team members</div>
                    </div>
                </div>
                
                <!-- Counter Column -->
                <div class="counter-one_block col-lg-3 col-md-6 col-sm-6">
                    <div class="counter-one_inner">
                        <span class="counter-one_icon fa-solid fa-award fa-fw"></span>
                        <div class="counter-one_counter"><span class="odometer" data-count="15"></span>+</div>
                        <div class="counter-one_text">Winning awards</div>
                    </div>
                </div>
                
                <!-- Counter Column -->
                <div class="counter-one_block col-lg-3 col-md-6 col-sm-6">
                    <div class="counter-one_inner">
                        <span class="counter-one_icon fa-regular fa-file fa-fw"></span>
                        <div class="counter-one_counter"><span class="odometer" data-count="10"></span>K+</div>
                        <div class="counter-one_text">Completed project</div>
                    </div>
                </div>
                
                <!-- Counter Column -->
                <div class="counter-one_block col-lg-3 col-md-6 col-sm-6">
                    <div class="counter-one_inner">
                        <span class="counter-one_icon fa-solid fa-user-tie fa-fw"></span>
                        <div class="counter-one_counter"><span class="odometer" data-count="850"></span>k+</div>
                        <div class="counter-one_text">Client’s reviews</div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
<!-- End Counter One -->