<!-- Clients Two -->
<section class="clients-two wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
    <div class="auto-container">
        <div class="clients-two_inner-container">
            <h2 class="clients-two_title">Our Trusted <span>Partners</span></h2>
            
            <!-- Sponsors Carousel -->
            <ul class="sponsors-carousel owl-carousel owl-theme">
                <li class="slide-item"><figure class="client-one_image-box-two"><a href="#"><img src="/images/partners/p1.jpg" alt=""></a></figure></li>
                <li class="slide-item"><figure class="client-one_image-box-two"><a href="#"><img src="/images/partners/p2.jpg" alt=""></a></figure></li>
                <li class="slide-item"><figure class="client-one_image-box-two"><a href="#"><img src="/images/partners/p3.jpg" alt=""></a></figure></li>
                <li class="slide-item"><figure class="client-one_image-box-two"><a href="#"><img src="/images/partners/p4.jpg" alt=""></a></figure></li>
                <li class="slide-item"><figure class="client-one_image-box-two"><a href="#"><img src="/images/partners/p5.jpg" alt=""></a></figure></li>
                <li class="slide-item"><figure class="client-one_image-box-two"><a href="#"><img src="/images/partners/p6.jpg" alt=""></a></figure></li>
                <li class="slide-item"><figure class="client-one_image-box-two"><a href="#"><img src="/images/partners/p7.jpg" alt=""></a></figure></li>
                <li class="slide-item"><figure class="client-one_image-box-two"><a href="#"><img src="/images/partners/p8.jpg" alt=""></a></figure></li>
            </ul>
            
        </div>
    </div>
</section>
<!-- End Clients Two -->