	<!-- Case One -->
	<section class="case-one">
		<!-- <div class="case-one_pattern-layer" style="background-image:url(/images/background/pattern-16.png)"></div> -->
		<div class="case-one_pattern-layer-two" data-parallax='{"y" : -100}' style="background-image:url(/images/background/pattern-18.png)"></div>
		<div class="auto-container">
			
			<!-- Sec Title -->
			<div class="sec-title_two">
				<div class="sec-title_two-title">Our Projects in Picture</div>
				<h2 class="sec-title_two-heading">Bringing <span>Transforming Technology</span> <br>To Every Industry Sector</h2>
			</div>
			
			<div class="case-one_inner-container">
				<div class="case-carousel owl-carousel owl-theme">
					
					<!-- Case Block -->
					<div class="case-block">
						<div class="case-block_inner">
							<div class="case-block_image">
								<img src="/images/projects/1.jpg" alt="" />
								<div class="case-one_overlay">
									<div class="case-one_overlay-content">
										<a href="/images/projects/1.jpg" class="case-block_plus lightbox-image plus fa fa-plus"></a>
									</div>
								</div>
							</div>
							<div class="case-block_lower-content">
								<h5 class="case-block_heading"><a href="https://www.services.gov.ng" target="_blank">Government Services</a></h5>
								<div class="case-block_location">Nigeria</div>
								<div class="case-block_text">
                                    This is a services single window portal where you can get all the information on all government to citizens, government to business and government to foreign national services in Nigeria.
                                </div>
							</div>
						</div>
					</div>
					
					<!-- Case Block -->
					<div class="case-block">
						<div class="case-block_inner">
							<div class="case-block_image">
								<img src="/images/projects/2.jpg" alt="" />
								<div class="case-one_overlay">
									<div class="case-one_overlay-content">
										<a href="/images/projects/2.jpg" class="case-block_plus lightbox-image plus fa fa-plus"></a>
									</div>
								</div>
							</div>
							<div class="case-block_lower-content">
								<h5 class="case-block_heading"><a href="https://services.cac.gov.ng" target="_blank">Corporate Affairs Commission</a></h5>
								<div class="case-block_location">Nigeria</div>
								<div class="case-block_text">
                                    Corporate Affairs Commission Portal is the automation of all Corporate Afairs Commission's registration processes and registrations including Online Payment Platform.
                                </div>
							</div>
						</div>
					</div>

					<!-- Case Block -->
					<div class="case-block">
						<div class="case-block_inner">
							<div class="case-block_image">
								<img src="/images/projects/3.jpg" alt="" />
								<div class="case-one_overlay">
									<div class="case-one_overlay-content">
										<a href="/images/projects/3.jpg" class="case-block_plus lightbox-image plus fa fa-plus"></a>
									</div>
								</div>
							</div>
							<div class="case-block_lower-content">
								<h5 class="case-block_heading"><a href="https://nigeriacentenary.com.ng" target="_blank">Nigeria Centenary Website</a></h5>
								<div class="case-block_location">Nigeria</div>
								<div class="case-block_text">
                                    Year 2014, Nigeria celebrated her 100 years of amalgamation. This website was built to showcase the history of Nigeria and the events that took place during the celebration.                               
                                </div>
							</div>
						</div>
					</div>

					<!-- Case Block -->
					<div class="case-block">
						<div class="case-block_inner">
							<div class="case-block_image">
								<img src="/images/projects/4.jpg" alt="" />
								<div class="case-one_overlay">
									<div class="case-one_overlay-content">
										<a href="/images/projects/4.jpg" class="case-block_plus lightbox-image plus fa fa-plus"></a>
									</div>
								</div>
							</div>
							<div class="case-block_lower-content">
								<h5 class="case-block_heading"><a href="http://nigeriacentenarylottery.com" target="_blank">Nigeria Lottery Website</a></h5>
								<div class="case-block_location">Nigeria</div>
								<div class="case-block_text">
                                    The Centenary Lottery is a Federal Government initiative intended to raise funds for the Centenary Celebrations and the execution of the Centenary legacy projects around the country.                             
                                </div>
							</div>
						</div>
					</div>

					<!-- Case Block -->
					<div class="case-block">
						<div class="case-block_inner">
							<div class="case-block_image">
								<img src="/images/projects/5.jpg" alt="" />
								<div class="case-one_overlay">
									<div class="case-one_overlay-content">
										<a href="/images/projects/5.jpg" class="case-block_plus lightbox-image plus fa fa-plus"></a>
									</div>
								</div>
							</div>
							<div class="case-block_lower-content">
								<h5 class="case-block_heading"><a href="http://smegrowthfund.com.ng" target="_blank">The YouWiN! SME Growth Fund</a></h5>
								<div class="case-block_location">Nigeria</div>
								<div class="case-block_text">
                                    As part of the many efforts of the Federal Government of Nigeria to encourage and support small and medium scale enterprises (SMEs) in Nigeria, the Federal Ministry of Finance has established a Venture Capital Fund called the YouWiN! SME Growth Fund.                             
                                </div>
							</div>
						</div>
					</div>

					<!-- Case Block -->
					<div class="case-block">
						<div class="case-block_inner">
							<div class="case-block_image">
								<img src="/images/projects/6.jpg" alt="" />
								<div class="case-one_overlay">
									<div class="case-one_overlay-content">
										<a href="/images/projects/6.jpg" class="case-block_plus lightbox-image plus fa fa-plus"></a>
									</div>
								</div>
							</div>
							<div class="case-block_lower-content">
								<h5 class="case-block_heading"><a href="http://transformation.com.ng" target="_blank">Transformation Portal</a></h5>
								<div class="case-block_location">Nigeria</div>
								<div class="case-block_text">
                                    Transformation Portal showcases all projects executed by Federal Government, State Governements and Local Governments in Nigeria.
                                </div>
							</div>
						</div>
					</div>

					<!-- Case Block -->
					<div class="case-block">
						<div class="case-block_inner">
							<div class="case-block_image">
								<img src="/images/projects/7.jpg" alt="" />
								<div class="case-one_overlay">
									<div class="case-one_overlay-content">
										<a href="/images/projects/7.jpg" class="case-block_plus lightbox-image plus fa fa-plus"></a>
									</div>
								</div>
							</div>
							<div class="case-block_lower-content">
								<h5 class="case-block_heading"><a href="http://www.projectactnollywood.com.ng" target="_blank">ProjectAct Nollywood</a></h5>
								<div class="case-block_location">Nigeria</div>
								<div class="case-block_text">
                                    The objective of Project ACT-Nollywood is to encourage the sustained growth of Nigeria's movie industry so that it realizes its full potential to be a significant creator of employment and considerable contributor to national GDP by addressing some of the challenges currently facing the industry.
                                </div>
							</div>
						</div>
					</div>

					<!-- Case Block -->
					<div class="case-block">
						<div class="case-block_inner">
							<div class="case-block_image">
								<img src="/images/projects/8.jpg" alt="" />
								<div class="case-one_overlay">
									<div class="case-one_overlay-content">
										<a href="/images/projects/8.jpg" class="case-block_plus lightbox-image plus fa fa-plus"></a>
									</div>
								</div>
							</div>
							<div class="case-block_lower-content">
								<h5 class="case-block_heading"><a href="#">Fiber Deployment</a></h5>
								<div class="case-block_location">Nigeria</div>
								<div class="case-block_text">
                                    Oasis delivers Fibre </br>and Network connectivity to your home (FTTH), business (FTTB) and other last mile connectivity to enable you enjoy several services.
                                </div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			
		</div>
	</section>
	<!-- End Case One -->