	<!-- Services One -->
	<section class="services-one">
		<div class="services-one_pattern-layer" style="background-image:url(images/background/pattern-14.png)"></div>
		<div class="auto-container">
			
			<!-- Sec Title -->
			<div class="sec-title_two centered">
				<div class="sec-title_two-title">Our Services</div>
				<h2 class="sec-title_two-heading">We Provide Outstanding <br><span>IT Services</span></h2>
			</div>
			
			<div class="services-one_inner-coontainer">
				<div class="four-item-carousel owl-carousel owl-theme">
					
					<!-- Service Block One -->
					<div class="service-block_three">
						<div class="service-block_three-inner">
							<span class="service-block_three-icon"><img src="/images/icons/service-8.png" alt="" /></span>
							<h5 class="service-block_three-heading">Management Consulting</h5>
							<div class="service-block_three-text">Oasis helps organisations improve their performance, primarily through the analysis of existing organisational problems...</div>
							<div class="service-block_three-overlay">
								<div class="service-block_three-color-layer"></div>
								<span class="service-block_three-icon-two"><img src="/images/icons/service-8-1.png" alt="" /></span>
								<h5 class="service-block_three-heading alternate"><a href="/management-consulting">Management Consulting</a></h5>
								<a class="service-block_three-learn" href="/management-consulting">Learn More</a>
							</div>
						</div>
					</div>
					
					<!-- Service Block One -->
					<div class="service-block_three">
						<div class="service-block_three-inner">
							<span class="service-block_three-icon"><img src="images/icons/service-9.png" alt="" /></span>
							<h5 class="service-block_three-heading">Hosting & Domain Registration</h5>
							<div class="service-block_three-text">
                                Oasis is an accredited NIRA Platinum Registrar, and a leading provider of Domain Management and Web Hosting Services.
                            </div>
							<div class="service-block_three-overlay">
								<div class="service-block_three-color-layer"></div>
								<span class="service-block_three-icon-two"><img src="images/icons/service-9-1.png" alt="" /></span>
								<h5 class="service-block_three-heading alternate"><a href="/hosting-and-domain-registration">Hosting & Domain Registration</a></h5>
								<a class="service-block_three-learn" href="/hosting-and-domain-registration">Learn More</a>
							</div>
						</div>
					</div>

                    <!-- Service Block One -->
					<div class="service-block_three">
						<div class="service-block_three-inner">
							<span class="service-block_three-icon"><img src="images/icons/service-8.png" alt="" /></span>
							<h5 class="service-block_three-heading">E-Payment Integration and Management</h5>
							<div class="service-block_three-text">
                                Oasis works with the Nigerian Interbank Settlement System (NIBBS) to facilitate IGR collections or payments...
                            </div>
							<div class="service-block_three-overlay">
								<div class="service-block_three-color-layer"></div>
								<span class="service-block_three-icon-two"><img src="images/icons/service-8-1.png" alt="" /></span>
								<h5 class="service-block_three-heading alternate"><a href="/payment-integration">E-Payment Integration and Management</a></h5>
								<a class="service-block_three-learn" href="/payment-integration">Learn More</a>
							</div>
						</div>
					</div>
					
					<!-- Service Block One -->
					<div class="service-block_three">
						<div class="service-block_three-inner">
							<span class="service-block_three-icon"><img src="images/icons/service-10.png" alt="" /></span>
							<h5 class="service-block_three-heading">Software Development, Portal and Web Services</h5>
							<div class="service-block_three-text">We develop customized Enterprise applications to help our clients be more efficient.</div>
							<div class="service-block_three-overlay">
								<div class="service-block_three-color-layer"></div>
								<span class="service-block_three-icon-two"><img src="images/icons/service-10-1.png" alt="" /></span>
								<h5 class="service-block_three-heading alternate"><a href="/software-development">Software Development, Portal and Web Services</a></h5>
								<a class="service-block_three-learn" href="/software-development">Learn More</a>
							</div>
						</div>
					</div>
					
					<!-- Service Block One -->
					<div class="service-block_three">
						<div class="service-block_three-inner">
							<span class="service-block_three-icon"><img src="images/icons/service-11.png" alt="" /></span>
							<h5 class="service-block_three-heading">Bulk SMS Services</h5>
							<div class="service-block_three-text">The Oasis Bulk SMS Services is a reliable and scalable text message delivery service that allows businesses, individuals, and other bulk SMS resellers to connect...</div>
							<div class="service-block_three-overlay">
								<div class="service-block_three-color-layer"></div>
								<span class="service-block_three-icon-two"><img src="images/icons/service-11-1.png" alt="" /></span>
								<h5 class="service-block_three-heading alternate"><a href="/bulk-sms-services">Bulk SMS Services</a></h5>
								<a class="service-block_three-learn" href="/bulk-sms-services">Learn More</a>
							</div>
						</div>
					</div>
					
					<!-- Service Block One -->
					<div class="service-block_three">
						<div class="service-block_three-inner">
							<span class="service-block_three-icon"><img src="images/icons/service-9.png" alt="" /></span>
							<h5 class="service-block_three-heading">Fibre and Network</h5>
							<div class="service-block_three-text">Oasis delivers fiber and network connectivity to your home (FTTH), business (FTTB) and other mile connectivity to enable you enjoy several services.</div>
							<div class="service-block_three-overlay">
								<div class="service-block_three-color-layer"></div>
								<span class="service-block_three-icon-two"><img src="images/icons/service-9-1.png" alt="" /></span>
								<h5 class="service-block_three-heading alternate"><a href="/fibre-network">Fibre and Network</a></h5>
								<a class="service-block_three-learn" href="/fibre-network">Learn More</a>
							</div>
						</div>
					</div>
					
					<!-- Service Block One -->
					<div class="service-block_three">
						<div class="service-block_three-inner">
							<span class="service-block_three-icon"><img src="images/icons/service-10.png" alt="" /></span>
							<h5 class="service-block_three-heading">Asset and Fleet Tracking Services</h5>
							<div class="service-block_three-text">Hawkeye is an Oasis trade name for a fleet management and mobile asset protection service and solution.</div>
							<div class="service-block_three-overlay">
								<div class="service-block_three-color-layer"></div>
								<span class="service-block_three-icon-two"><img src="images/icons/service-10-1.png" alt="" /></span>
								<h5 class="service-block_three-heading alternate"><a href="/asset-and-fleet-tracking">Asset and Fleet Tracking Services</a></h5>
								<a class="service-block_three-learn" href="/asset-and-fleet-tracking">Learn More</a>
							</div>
						</div>
					</div>
					
					<!-- Service Block One -->
					<div class="service-block_three">
						<div class="service-block_three-inner">
							<span class="service-block_three-icon"><img src="images/icons/service-11.png" alt="" /></span>
							<h5 class="service-block_three-heading">Energy Industry Training</h5>
							<div class="service-block_three-text">Oasis Management Company in partnership with the electrical Industry Training Insitute (EITI), a Canadian based, global electrical training institute.</div>
							<div class="service-block_three-overlay">
								<div class="service-block_three-color-layer"></div>
								<span class="service-block_three-icon-two"><img src="images/icons/service-11-1.png" alt="" /></span>
								<h5 class="service-block_three-heading alternate"><a href="/energy-industry-training">Energy Industry Training</a></h5>
								<a class="service-block_three-learn" href="/energy-industry-training">Learn More</a>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	<!-- End Services One -->