<!-- Main Slider -->
<section class="slider-two">
    <div class="single-item-carousel owl-carousel owl-theme">
        
        <!-- Slide -->
        <div class="slide">
            <div class="slider-two_image-layer" style="background-image:url(/images/sliders/slideshow1.jpg)"></div>
            <!-- <div class="slider-two_pattern-layer" style="background-image:url(images/main-slider/pattern-1.png)"></div> -->
            <div class="auto-container">
                
                <!-- Content Column -->
                <div class="slider-two-content">
                    <div class="slider-two_inner">
                        <div class="slider-two_title">Software Solutions</div>
                        <h1 class="slider-two_heading">Website & <br> Portal Development</h1>
                        <div class="slider-two_text">
                            Websites have become the modern face of many organizations. </br>They are first introduction of a company to its </br>local and international community.
                        </div>
                        <!-- Button Box -->
                        <div class="slider-two_button-box">
                            <a class="btn-style-two theme-btn btn-item" href="#">
                                <div class="btn-wrap">
                                    <span class="text-one">Learn more <i class="fa-solid fa-arrow-right fa-fw"></i></span>
                                    <span class="text-two">Learn more <i class="fa-solid fa-arrow-right fa-fw"></i></span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
        <!-- Slide -->
        <div class="slide">
            <div class="slider-two_image-layer" style="background-image:url(images/sliders/slideshow2.jpg)"></div>
            <div class="slider-two_pattern-layer" style="background-image:url(images/main-slider/pattern-1.png)"></div>
            <div class="auto-container">
                
                <!-- Content Column -->
                <div class="slider-two-content">
                    <div class="slider-two_inner">
                        <div class="slider-two_title">Enterprise Solutions</div>
                        <h1 class="slider-two_heading">Software <br> Development</h1>
                        <div class="slider-two_text">
                            We develop customized Enterprise application </br>to help our clients be more efficient.
                        </div>
                        <!-- Button Box -->
                        <div class="slider-two_button-box">
                            <a class="btn-style-two theme-btn btn-item" href="#">
                                <div class="btn-wrap">
                                    <span class="text-one">Learn more <i class="fa-solid fa-arrow-right fa-fw"></i></span>
                                    <span class="text-two">Learn more <i class="fa-solid fa-arrow-right fa-fw"></i></span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
        <!-- Slide -->
        <div class="slide">
            <div class="slider-two_image-layer" style="background-image:url(images/sliders/slideshow3.jpg)"></div>
            <div class="slider-two_pattern-layer" style="background-image:url(images/main-slider/pattern-1.png)"></div>
            <div class="auto-container">
                
                <!-- Content Column -->
                <div class="slider-two-content">
                    <div class="slider-two_inner">
                        <div class="slider-two_title">Hosting Solutions</div>
                        <h1 class="slider-two_heading">Hosting & <br> Domain Registration</h1>
                        <div class="slider-two_text">
                            Oasis is an accredited NIRA Platinum Registrar, </br>and a leading provider of Domain Management </br>and Web Hosting services
                        </div>
                        <!-- Button Box -->
                        <div class="slider-two_button-box">
                            <a class="btn-style-two theme-btn btn-item" href="#">
                                <div class="btn-wrap">
                                    <span class="text-one">Learn more <i class="fa-solid fa-arrow-right fa-fw"></i></span>
                                    <span class="text-two">Learn more <i class="fa-solid fa-arrow-right fa-fw"></i></span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

        <!-- Slide -->
        <div class="slide">
            <div class="slider-two_image-layer" style="background-image:url(images/sliders/bg4.jpg)"></div>
            <div class="slider-two_pattern-layer" style="background-image:url(images/main-slider/pattern-1.png)"></div>
            <div class="auto-container">
                
                <!-- Content Column -->
                <div class="slider-two-content">
                    <div class="slider-two_inner">
                        <div class="slider-two_title">Fibre Optic Solutions</div>
                        <h1 class="slider-two_heading">Fibre <br> Deployment</h1>
                        <div class="slider-two_text">
                            We deliver fibre and network connectivity </br>to your Home (FTTH) and Business (FTTB), </br>or last mile fiber to enable you enjoy several services
                        </div>
                        <!-- Button Box -->
                        <div class="slider-two_button-box">
                            <a class="btn-style-two theme-btn btn-item" href="#">
                                <div class="btn-wrap">
                                    <span class="text-one">Learn more <i class="fa-solid fa-arrow-right fa-fw"></i></span>
                                    <span class="text-two">Learn more <i class="fa-solid fa-arrow-right fa-fw"></i></span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

        <!-- Slide -->
        <div class="slide">
            <div class="slider-two_image-layer" style="background-image:url(images/sliders/bg5.jpg)"></div>
            <div class="slider-two_pattern-layer" style="background-image:url(images/main-slider/pattern-1.png)"></div>
            <div class="auto-container">
                
                <!-- Content Column -->
                <div class="slider-two-content">
                    <div class="slider-two_inner">
                        <div class="slider-two_title">Integration Solutions</div>
                        <h1 class="slider-two_heading">E-Payment <br> Integration</h1>
                        <div class="slider-two_text">
                            To facilitate IGR collections or payments and to enable vendors </br>achieve web based e-payment capabilities, Oasis works </br>with Nigerian Interbank Settlement System (NIBSS), </br>to integrate any merchant onto their various e-payment services
                        </div>
                        <!-- Button Box -->
                        <div class="slider-two_button-box">
                            <a class="btn-style-two theme-btn btn-item" href="#">
                                <div class="btn-wrap">
                                    <span class="text-one">Learn more <i class="fa-solid fa-arrow-right fa-fw"></i></span>
                                    <span class="text-two">Learn more <i class="fa-solid fa-arrow-right fa-fw"></i></span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>
</section>
<!-- End Main Slider -->

<!-- Featured One -->
<section class="featured-one">
    <div class="auto-container">
        <div class="row clearfix">
            
            <!-- Feature Block One -->
            <div class="feature-block_one">
                <!-- <div class="feature-block_one-inner">
                    <a class="overlay-link" href="service-detail.html"></a>
                    <span class="color-layer"></span>
                    <span class="feature-block_one-icon">
                        <img src="images/icons/feature-1.png" alt="" />
                    </span>
                    <h5 class="feature-block_one-title">UI/UX Design Services</h5>
                </div> -->
            </div>
            
            <!-- Feature Block One -->
            <div class="feature-block_one">
                <div class="feature-block_one-inner">
                    <a class="overlay-link" href="/about"></a>
                    <span class="color-layer"></span>
                    <span class="feature-block_one-icon">
                        <img src="/images/icons/cloud-computing.png" alt="" width="80" height="50" />
                    </span>
                    <h5 class="feature-block_one-title">Computing</h5>
                </div>
            </div>
            
            <!-- Feature Block One -->
            <div class="feature-block_one">
                <div class="feature-block_one-inner">
                    <a class="overlay-link" href="/about"></a>
                    <span class="color-layer"></span>
                    <span class="feature-block_one-icon">
                        <img src="/images/icons/cable-connector.png" alt="" width="80" height="50" />
                    </span>
                    <h5 class="feature-block_one-title">Communication</h5>
                </div>
            </div>
            
            <!-- Feature Block One -->
            <div class="feature-block_one">
                <div class="feature-block_one-inner">
                    <a class="overlay-link" href="/about"></a>
                    <span class="color-layer"></span>
                    <span class="feature-block_one-icon">
                        <img src="/images/icons/content.png" alt="" width="80" height="50" />
                    </span>
                    <h5 class="feature-block_one-title">Content</h5>
                </div>
            </div>
            
            <!-- Feature Block One -->
            <div class="feature-block_one">
                <div class="feature-block_one-inner">
                    <a class="overlay-link" href="/about"></a>
                    <span class="color-layer"></span>
                    <span class="feature-block_one-icon">
                        <img src="/images/icons/e-commerce.png" alt="" width="80" height="50" />
                    </span>
                    <h5 class="feature-block_one-title">Commerce</h5>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- End Featured One -->

<!-- Clients One -->
<section class="clients-one">
    <div class="clients-one_pattern" style="background-image:url(/images/sliders/slideshow1.jpg)"></div>
    <div class="auto-container">
        <div class="row clearfix">
            <!-- Title Column -->
            <div class="clients-one_title-column col-lg-4 col-md-12 col-sm-12">
                <div class="client-one_title">Join our happy clients!</div>
            </div>
            <!-- Carousel Column -->
            <div class="clients-one_carousel-column col-lg-8 col-md-12 col-sm-12">
                <!-- Sponsors Carousel -->
                <ul class="sponsors-carousel-two owl-carousel owl-theme">
                    <li class="slide-item"><figure class="client-one_image-box"><a href="#"><img src="/images/clients/c1.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="client-one_image-box"><a href="#"><img src="/images/clients/c2.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="client-one_image-box"><a href="#"><img src="/images/clients/c3.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="client-one_image-box"><a href="#"><img src="/images/clients/c4.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="client-one_image-box"><a href="#"><img src="/images/clients/c5.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="client-one_image-box"><a href="#"><img src="/images/clients/c6.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="client-one_image-box"><a href="#"><img src="/images/clients/c7.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="client-one_image-box"><a href="#"><img src="/images/clients/c8.png" alt=""></a></figure></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End Clients One -->